body{
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:cornsilk
}

.heading{
    margin-bottom: 40px;
    font-size: 30px;
}

.container{
    margin-bottom: 50px;
}

.new-notes{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.add-note{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    margin-bottom: 20px;
}

.existing-notes{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.note-item{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.note-title{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.view-note{
    border: none;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.add-note-modal{
    display: none;
}

.cross{
    display: flex;
    margin-right: 10px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content h2{
    margin-top: 0;
    margin-bottom: 10px;
}

#newNoteTitle{
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

#newNoteText{
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

.save-note{
    border: none;
    background-color: cadetblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

#modal-title{
    margin-top: 0;
    margin-bottom: 10px;
}

#modal-text{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.edit-note{
    border: none;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.delete-note{
    border: none;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}