body{
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:cornsilk
}

.heading{
    margin-bottom: 60px;
    font-size: 30px;
}

.container{

}

.new-notes{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.add-note{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.existing-notes{
    display: flex;
}

.note-item{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.note-title{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.view-note{
    border: none;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.add-note-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cross{
    display: flex;
    justify-content: flex-start;
}

/*.close{
    display: flex;
    align-items: flex-start;
}*/

#newNoteTitle{
    margin-bottom: 10px;
}

#newNoteText{
    margin-bottom: 10px;
}